.hidden {
  display: none !important;
}
.visible {
  display: grid;
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  display: grid;
  place-items: center;
  background: rgba($color: #000000, $alpha: 0.5);
}
.modal-content {
  width: 40%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: var(--just-white);
}
.modal-content__close {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-content__button {
  width: 240px;
  border: none;
  padding: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--just-white);
  background: var(--accent);
}

/* CAROUSEL */
.modal-content__slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  margin-bottom: 60px;
}
.modal-content__slider input {
  visibility: hidden;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  background: var(--primary);
  transition: transform 0.4s ease;
}
.card img {
  width: 100%;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
