:root {
  // colors
  --primary: #ffd602;
  --secondary: #036cb6;
  --accent: #d5040a;
  --black: #282623;
  --just-white: #ffffff;
}

/* Font and typography */
$body-font: 'DM Sans', sans-serif;
$normal-font-size: 1.6rem;
$h1-font-size: 4.8rem;

/* Font weight */
$font-light: 400;
$font-semi-bold: 500;
$font-bold: 700;
